apiVersion: v1
kind: ConfigMap
metadata:
  name: ff-service
  namespace: {{ .Release.Namespace | quote }}
data:
  DEPLOY_MODE: KUBERNETES_ONPREM
  MEMORY: '{{ .Values.memory }}m'
  DB_DRIVER: postgres
  EVENT_BUS: "msg-broker"
  MSG_BROKER_PROVIDER: redis
  REDIS_STREAM_MAX_LENGTH: "2048"
  REDIS_STREAM_APPROX_LENGTH: "true"
  REDIS_STREAM_VISIBILITY_TIMEOUT: 5s
  REDIS_STREAM_BLOCKING_TIMEOUT: 10s
  REDIS_STREAM_RECLAIM_INTERVAL: 5s
  REDIS_STREAM_BUFFER_SIZE: "100"
  REDIS_STREAM_CONCURRENCY: "100"
  EVENTS_FRAMEWORK_REDIS_SSL_ENABLED: "false"
  EVENTS_FRAMEWORK_USE_REDIS_PASSWORD: "false"
  EVENTS_FRAMEWORK_REDIS_USE_SENTINEL: "true"
  EVENTS_FRAMEWORK_REDIS_SENTINEL_MASTER: 'harness-redis'
  EVENTS_FRAMEWORK_REDIS_SENTINEL_URLS: 'redis-sentinel-harness-announce-0.{{ .Release.Namespace }}:26379,redis://redis-sentinel-harness-announce-1.{{ .Release.Namespace }}:26379,redis://redis-sentinel-harness-announce-2.{{ .Release.Namespace  }}:26379'
  SSL_MODE: disable
  GRIP_URL: "http://pushpin-clusterip:5561"
  PLATFORM_INTEGRATION_ENABLED: "true"
  PLATFORM_BASE_URL: '{{ .Values.global.loadbalancerURL }}/ng/api/'
  # Will this work?
  # PLATFORM_BASE_URL: 'http://ng-manager.{{ .Release.Namespace }}.svc.cluster.local:7090/api/'
  ADMIN_ENABLE: "true"
  CLIENT_ENABLE: "true"
  METRICS_ENABLE: "true"
  METRICS_PROCESSING: "true"
  ANALYTICS_SSL_MODE: disable
  ANALYTICS_DB_DRIVER: postgres
  LOG_LEVEL: {{ .Values.appLogLevel }}
  USE_CF_REDIS: "false"
  ACCESS_CONTROL_SERVICE: '{{ .Values.global.loadbalancerURL }}'
  ACCESS_CONTROL_BASE_PATH: "/authz/api"
  # Can we change this to local url like
  # ACCESS_CONTROL_BASE_URL: 'http://access-control.{{ .Release.Namespace }}.svc.cluster.local:9006/api/'
  GIT_SYNC_URL: "ng-manager:13002"
  # GIT_SYNC_AUTHORITY: "default-authority.harness.io"
  # The above wont work in strict mode. Confirm
  GIT_SYNC_AUTHORITY: "ng-manager:13002"
  GIT_SYNC_ENABLED: "true"
  GIT_SYNC_WEBHOOK_LISTEN_ADDR: "localhost:3001"
  SEGMENT_API_KEY: CFCommonVariable
  # We removed any secret for components, added these in config and deployments
  ANALYTICS_DB_HOST: 'timescaledb-single-chart.{{ .Release.Namespace }}'
  ANALYTICS_DB_PORT: "5432"
  ANALYTICS_DB_NAME: harnesscf
  DB_HOST: 'timescaledb-single-chart.{{ .Release.Namespace }}'
  DB_NAME: cf_db
  DB_PORT: "5432"
  PLATFORM_SECRET_KEY: IC04LYMBf1lDP5oeY4hupxd4HJhLmN6azUku3xEbeE3SUx5G3ZYzhbiwVtK4i7AmqyU9OZkwB4v8E9qM
  AUTH_SECRET: IC04LYMBf1lDP5oeY4hupxd4HJhLmN6azUku3xEbeE3SUx5G3ZYzhbiwVtK4i7AmqyU9OZkwB4v8E9qM
{{- if .Values.configmap }}
{{- include "common.tplvalues.render" (dict "value" .Values.configmap "context" $) | nindent 4 }}
{{- end }}